@if (Context.User.Identity.IsAuthenticated)
{
    <section class="my-2 my-lg-0 mr-3">
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="m-0">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Context.User.Identity.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (User.IsInRole("Administrators"))
                        {
                            <a class="dropdown-item" asp-page="/Admin/Index">Admin</a>
                        }
                        <a class="dropdown-item" asp-controller="Order"
                           asp-action="MyOrders">My orders</a>
                        <a class="dropdown-item" asp-controller="Order"
                           asp-action="MyOrders">My account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                    </div>
                </li>

            </ul>
        </form>
    </section>
}
else
{
    <section class="my-2 my-lg-0 mr-3">
        <div class="esh-identity">
            <section class="esh-identity-section">
                <div class="esh-identity-item">
                    <a class="nav-link text-secondary" asp-area="Identity" asp-page="/Account/Login">  @_localizer["Connexion"] </a>
                </div>
            </section>
        </div>
    </section>
}