@page
@model NetCoreApp.Pages.StatusCodeModel
@{
    ViewData["Title"] = "Code Erreur @Model.ErrorStatusCode";
}

<h1 class="text-danger">Code Erreur: @Model.ErrorStatusCode</h1>
<h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h2>

@if (Model.ShowRequestId)
{
    <h3>ID Requête</h3>
    <p>
        <code>@Model.RequestId</code>
    </p>
}

@if (Model.ShowOriginalURL)
{
    <h3>Original URL</h3>
    <p>
        <code>@Model.OriginalURL</code>
    </p>
}
