@page
@model NetCoreApp.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = _localizer["Confirmation Email"];
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
       @_localizer["Merci d'avoir confirmé votre Email."] 
    </p>
</div>