@page
@model NetCoreApp.Pages.Home.indexModel
@{
    ViewData["Title"] = _localizer["Acceuil"];
    ViewBag.Current = EnumMenu.Home;
}

<h2>@_localizer["Tableau de bord"]</h2>

<p>@_localizer["Bienvenue sur la page Admin de NetCoreApp"]</p>

